<!-- partials/experiencie-item.hbs -->
<div class="row mt-3">
    <div class="col-12">
        <div>
            <h2>{{company}}</h2>
        </div>
        <div class="d-flex flex-row justify-content-between">
            <h2>{{role}}</h2>
            <h2>{{location}} ({{temporality}})</h2>
        </div>
    </div>
    <div class="col-12 mt-1">
        <p class="normal-text">
            {{description}}
        </p>
    </div>
</div>
