{{#if (is-not-empty languages)}}
  <div class='row'>
    <div class='col-12 mt-4'>
      <h1 class='color-primary'>Lenguajes</h1>
    </div>
  </div>
  <div class='row mt-2'>
    <div class='col-12'>
      <ul class='none-style-list horizontal-list normal-text'>
        {{#each languages}}
          {{#if (is-not-empty this.level)}}
            <li><b>{{this.name}}:</b>{{" "}}<span>{{this.level}}</span></li>
          {{else}}
            <li><b>{{this.name}}</b></li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}